<div class="section gists">
<div class="section-head">
<h2>Gists</h2>
<p class="section-text">Code and snippets I've written.</p>
</div>
<div class="cards gists">
<% for (const gist of gists) { %>
<%= _.template(cards.gist)({ ...obj, gist }) %>
<% } %>
</div>
</div>
