<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title><%= meta.title %></title>
<meta name="description" content="<%= meta.description %>">
<meta property="og:title" content="<%= meta.title %>">
<meta property="og:image" content="<%= meta.image %>">
<meta property="og:description" content="<%= meta.description %>">
<link rel="stylesheet" type="text/css" href="<%= assets.stylesheet %>">
</head>
<body class="<%= bodyClassname %>">
<div class="page">
<%= page %>
</div>
<% if (templates && templates.length) { %>
<% for (const template of templates) { %>
<script type="text/template" id="tpl-<%= template.name %>">
<%= template.code %>
</script>
<% } %>
<% } %>
<script src="<%= assets.script %>"></script>
</body>
</html>
